@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,600&display=swap');
/*
COLORS:
PINK: #E7B2D7
HONEYDEW: #DFF3E4
SPACE CADET BLUE: #171738
DARK SKY BLUE: #86BBD8
IMPERIAL RED: #F02D3A
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #DFF3E4;
  color: #DFF3E4;
}

#title {
  margin-top: 40px;
  color: #171738;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

h2 {
  text-align: center;
  color: #171738;
  background-color: #E7B2D7;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.mainContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.container {
  background-color: #171738;
  max-width: 800px;
  min-width: 300px;
  margin: 30px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #171738;
  border-radius: 10px;
  padding: 30px;
}

.container.indPage{
  max-width: 70%;
  min-width: 50%;
}

.expand {
  color:#171738;
  display: inline-block;
  margin-left: 100%;
  margin-bottom: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #E7B2D7;
  display: inline-block;
  color: #171738;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.item {
  border: 1px solid #DFF3E4;
  margin: 5px;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
}

.item h2 {
  margin-right: 15px;
  padding: 4px;
}

/*
.item.ratings {
  
}
*/

.rating-text {
  margin-right: auto;
}

.item.reminder {
  border-left: 5px solid green;
}

.item h3 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item p {
  margin-top: 5px;
}

#author {
  font-weight: bold;
  font-style: italic;
}

.ratings {
  margin: 10px;
  display: flex;
  align-items: inline;
}

.ratings > * {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up p{
  color: #E7B2D7;
  align-self: center;
}

.down p{
  color: #F02D3A;
  align-self: center;
}

label input {
  font-family: 'Josefin Sans', sans-serif;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}